<head>
  <link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" />
  <link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.min.css')}}" />
  <link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" />
</head>

{% extends 'base/base.html'%}

{% block contenido %}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="inicio">Inicio</a></li>
      <li class="breadcrumb-item">Tablas</li>
      <li class="breadcrumb-item active" aria-current="page">Tabla de Pacientes</li>
    </ol>
  </div>

  <!-- Row -->
  <!-- Row -->
  <div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Tabla de Pacientes</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="dataTable">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Nombres Completos</th>
                <th>Edad</th>
                <th>Correo Electronico</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for paciente in pacientes %}
              <tr>
                <td>{{ paciente[0] }}</td>
                <td>{{ paciente[1] }}</td>
                <td>{{ paciente[2] }}</td>
                <td>{{ paciente[3] }}</td>
                <td>
                  <form id="deleteForm" action="/borrarpaciente" method="post">
                    <input type="hidden" name="idpaciente" value="{{ paciente[0] }}">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                      data-target="#confirmDeleteModal">Eliminar</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Row-->
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/script.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

  <!-- Modal de confirmación de eliminación -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar los datos?. Los datos borrados no se podrán recuperar.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" onclick="deleteFormSubmit()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Page level custom scripts -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
    function deleteFormSubmit() {
      document.getElementById("deleteForm").submit();
    }
  </script>
  {% endblock %}